/* ----- Déclaration des polices ----- */
/* Sonic (sonic_comic.ttf) */
@font-face {
    /* Désigne le nom sous lequel la police va être utilisée */
    font-family: 'sonic';
    /* Chemin vers le fichier de la police et son type */
    src: url("./assets/fonts/sonic_comic.ttf") format("truetype");
}

/* Comic (KOMTXTI_.ttf) */
@font-face {
    font-family: 'comic';
    src: url("./assets/fonts/KOMTXTI_.ttf") format("truetype");
}


/* ---------- VOTRE CSS ICI ---------- */
:root {
    --img-height: 512px;
    --img-width: 896px;
    --img-scale: .5;
}


.btn {
    /*Modifier la couleur du background*/
    background-color: #ff4081;
    padding: 20px;
    border-radius: 8px;

}

#para {
   padding: 6px;
   
}

.btn-back {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    bottom: 25px;
    padding: 10px;


}
.modal {
    background-color: var(--modal-bg-color);
    width: 20% ;
    border-radius: 50px;
 /* Gere la disposition des "enfents-flex" perpendiculairement au "fil"*/
    align-items: center;
    /*Activer le systeme de flexbox sur <header> qui devient "parent-flex"*/
    display: flex;
    /*Gere l'orientation du fil */
    flex-direction: column;
    /*Gére la goutière (espace de séparation) entre les "enfants-flex"*/
    gap: 5px;
    padding: 20px;

}

.modal-overlay {
    /*Positionne le bloc de la meme maniere qu'absolute, mais sa réference est la fenetre d'affichage*/
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    /*vh= viewport height = 100% de la hauteur du viewport */
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.story {
    background-color: #ffe4e1;
    border: 2px #ff4081 solid;
    border-radius: 10px;
}


.story-img {
    
    width: calc(var(--img-width)*var(--img-scale));
    height: calc(var(--img-height)* var(--img-scale));
    background-size: calc(var(--img-width) * var(--img-scale)) calc(var(--img-height)* var(--img-scale));
   
}


#back {
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 2px red solid;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
}